body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f7fb;
    color: #172033;
}

h1 {
    font-size: 48px;
}

button {
    padding: 14px 25px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}